@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	overflow-x: auto;
}

body {
	margin: 0;
	padding: 0;
	display: grid;
	width: 100%;
	min-height: 100vh;
	place-items: center;
	position: relative;
	background-color: #0d0c0c;
	font: 1rem "Montserrat", sans-serif;
	color: #dadada;
}

input, button, textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

a {
	cursor: pointer;
	transition: 0.3s;
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #16a349;
}

nav {
	padding: 0.5rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	background-color: #16a349;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 3rem;
	margin: 0.5rem;
}
.navIcons {
	display: flex;
	flex-direction: row;
}
.navIcons a {
	font-size: 2rem;
	margin: 0 0.5rem;
	display: flex;
}
.navIcons a:hover {
	color: #0d5326;
}

.search {
	margin: 0.5rem 3rem;
	flex-grow: 2;
	display: flex;
}
.search input {
	padding: 15px;
	padding-left: 35px;
	margin-left: -30px;
	width: 100%;
	border: 1px solid #5b5b5b;
	background: none;
	-webkit-appearance: none;
	box-shadow: none !important;
	outline: 0;
	color: #dadada;
	background-color: #16a349;
	border-color: transparent;
	font: 1rem "Montserrat", sans-serif;
}
.searchform {
	width: 50%;
}
#search::placeholder, #search::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
#search:hover, #search:focus {
	background-color: rgba(0,0,0,0.2);
}
.searchIcon {
	font-size: 1.5rem;
	display: flex;
	margin: auto 0;
	z-index: 2;
}

section {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.no-results p {
	color: #797979;
}

.login {
	display: grid;
	place-items: center;
	height: 100%;
	width: 100%;
}
.login form {
	min-width: 400px;
}
.login input {
	display: block;
	border-radius: 30px;
	margin: 0.5rem;
	padding: 15px;
	width: 100%;
	background: none;
	-webkit-appearance: none;
	box-shadow: none !important;
	color: #dadada;
	border: 1px solid #5b5b5b;
}
input[type="submit"] {
	background: #16a349;
	width: 100%;
	color: white;
}

.card {
	display: flex;
	flex-direction: column;
	min-width: 170px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
}
.card:hover {
	background-color: #1c1b1b;
}
.card .card-img img {
	width: 150px;
	height: 150px;
	border-radius: 8px;
	border: 1px solid #5b5b5b;
}
.card .card-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-height: 50px;
	width: 150px;
	font-size: 0.8rem;
	margin-block: .5em;
}
.card .card-date {
	max-height: 50px;
	width: 150px;
	font-size: 0.75rem;
}

.cards {
	display: flex;
	gap: .5rem;
	overflow-x: auto;
}
